body,
.smooth-container {
  scroll-behavior: smooth;
}
.white-text {
  color: white;
}
.black-text {
  color: #000000;
}
.gray-text {
  color: #263f3f;
}
.gray-border {
  border: solid 1px gray;
}
.no-border {
  border: none;
}
.default-font-size {
  font-size: 16px;
}
.button-font-size {
  font-size: 14px;
}
.white-background {
  background-color: white;
}
.whitesmoke-background {
  background-color: whitesmoke;
}
.inline-block {
  display: inline-block;
}
.default-line-height {
  line-height: 140%;
}
.cusor-pointer {
  cursor: default;
}
.cursor-hand {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: lightgray;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  color: #868c92;
  background-color: whitesmoke;
  -webkit-print-color-adjust: exact;
  overflow-x: hidden;
  overflow-y: hidden;
}
h4 {
  margin: 0 0 10px 0;
}
.attention-text {
  font-weight: bold;
  color: orange;
}
#viewport {
  overflow: hidden;
}
.menu-li-a-common-style {
  padding: 9px 18px;
  display: block;
}
#menu {
  position: fixed;
  top: 27px;
  left: 5px;
  z-index: 70;
  padding: 0;
  margin: 0;
  width: 115px;
}
#menu li {
  display: inline-block;
  border: solid 1px gray;
  margin: 3px 0;
  width: 110px;
  background: transparent;
}
#menu li.active {
  background-color: #666;
  color: white;
}
#menu li.active a {
  color: white;
  padding: 9px 18px;
  display: block;
}
#menu li.active a:hover {
  cursor: default;
  color: white;
  padding: 9px 18px;
  display: block;
  background-color: #666;
}
#menu li a {
  text-decoration: none;
  color: #263f3f;
  padding: 9px 18px;
  display: block;
}
#menu li:hover {
  background-color: white;
}
.tableCell {
  padding: 80px 52px 20px 52px;
}
.controlArrow {
  opacity: 0.2;
}
.controlArrow:hover {
  opacity: 1;
}
.section {
  text-align: center;
}
.content {
  min-width: 1000px;
  max-width: 1500px;
  color: #263f3f;
  font-size: 16px;
  line-height: 140%;
  padding: 20px 0 20px 150px;
}
.content a {
  text-decoration: none;
  color: blue;
  text-shadow: none;
}
.content a:hover {
  color: orange;
}
.content a ul {
  margin: 0;
}
.content ul {
  margin-top: 5px;
}
.content .description {
  padding-bottom: 10px;
}
.content .job,
.content .project,
.content .book-category,
.content .chart-section,
.content .description,
.content .school {
  margin: 0 30px 30px 0;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.round-content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: solid 1px gray;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}
.job .dim {
  opacity: 0.7;
  width: 145px;
  display: inline-block;
}
.project .thumbnail {
  margin: 5px 0 0 10px;
}
.chart-section circle {
  opacity: 1;
}
.chart-section text {
  font-size: 12px !important;
}
.book-category h4 {
  margin-bottom: 0;
}
.book-category .thumbnail {
  margin: 20px 30px 0 0;
  height: 243px;
  width: 153px;
}
.campus {
  width: 300px;
  height: 180px;
  float: left;
  display: inline-block;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.uwb {
  background: url("../img/uwb.jpg");
}
.bcc {
  background: url("../img/bcc.jpg");
}
.school {
  clear: both;
  height: 200px;
}
.school .overview {
  display: inline-block;
  border: none;
  padding-left: 30px;
  width: 400px;
}
.circular {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.summary {
  line-height: 140%;
  font-size: 18px;
}
.portrait {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: url("../img/portrait.jpg") no-repeat;
}
.left-of-portrait {
  border-right: solid 2px lightgray;
  padding-right: 30px;
  width: 75%;
  float: left;
  display: inline-block;
}
.portrait-column {
  padding-left: 30px;
  width: 150px;
  float: left;
  display: inline-block;
}
.portrait-column .connector {
  margin: 0 auto;
  height: 90px;
  width: 0;
  border-left: solid 2px lightgray;
}
.thumbnail {
  border: solid 1px lightgray;
}
.thumbnail:hover,
.github:hover {
  -webkit-box-shadow: 0 0 15px #008000;
  -moz-box-shadow: 0 0 15px #008000;
  box-shadow: 0 0 15px #008000;
  border-color: rgba(0, 128, 0, 0.5);
}
.github {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/github.png") no-repeat;
}
.hidden {
  display: none;
}
.click-me {
  color: gray;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  text-align: center;
  line-height: 70px;
  border: solid 2px lightgray;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.float-right {
  float: right;
  display: inline-block;
}
.float-left {
  float: left;
  display: inline-block;
}
.cv-buttons {
  padding-bottom: 15px;
}
.cv-buttons .button {
  font-size: 14px;
  display: inline-block;
  width: 100px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
  margin: 0 10px 0 0;
  color: #263f3f;
  border: solid 1px gray;
}
.cv-buttons .button:hover {
  background-color: white;
  font-weight: normal;
}
.cv {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-color: whitesmoke;
  font-size: 16px;
  color: #263f3f;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 850px;
  height: 1100px;
  text-align: left;
  line-height: 140%;
}
.cv .header {
  padding-top: 30px !important;
  width: 100%;
}
.cv .header .name {
  font-size: 35px;
  padding-right: 45px;
  display: inline-block;
}
.cv .header .contact {
  display: inline-block;
}
.cv .sites {
  padding-bottom: 20px;
}
.cv .site {
  line-height: 30px;
  display: inline-block;
  width: 423px;
}
.cv .spacer {
  display: inline-block;
  width: 30px;
}
.cv .portfolio {
  background-color: #6e6e6e;
  color: #ffffff;
  float: left;
  display: inline-block;
}
.cv .projects {
  background-color: #d2d2d2;
  color: #263f3f;
  float: right;
  display: inline-block;
}
.cv .block {
  padding: 20px 30px 20px 30px;
}
.cv .objective {
  clear: both;
}
.cv .main {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  clear: both;
  display: inline-block;
}
.cv .education,
.cv .learning-interests {
  padding-top: 10px;
}
.main h2 {
  margin-top: 0;
}
.main .left {
  border-right: solid 1px lightgray;
  width: 363px;
  padding-right: 30px;
}
.main .right {
  width: 366px;
  padding-left: 30px;
}
.left {
  float: left;
  display: inline-block;
}
.right {
  float: right;
  display: inline-block;
}
@media print {
  body > *:not(.active .content) {
    display: none;
  }
  .cv {
    background-color: white;
    -webkit-box-shadow: 'none';
    -moz-box-shadow: 'none';
    box-shadow: 'none';
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  body {
    background-color: white;
  }
}
@page {
  padding: 0;
  margin: 0;
  width: 8.5in;
  height: 11in;
}
.expandable-label {
  color: dodgerblue;
  cursor: pointer;
}
.stage {
  overflow-y: auto !important;
  height: 100vh;
}
.not-visible {
  visibility: hidden;
}
