body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    color: #868c92;
    background-color: #90c984;
    -webkit-print-color-adjust: exact;
}
h4 {
    margin: 0 0 10px 0;
}
.attention-text {
    font-weight: bold;
    color: orange;
}
#viewport {
    overflow: hidden;
}
#menu li {
    display: inline-block;
    margin: 10px 2px;
    background: transparent;
    border: solid 1px white;
}
#menu li.active {
    background-color: #666;
    color: #fff;
}
#menu li a {
    text-decoration: none;
    color: white;
}
#menu li.active a:hover {
    color: #000;
}
#menu li:hover {
    background-color: white;
}
#menu li a:hover {
    color: darkslategray;
}
#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}
#menu li.active a {
    color: #fff;
}
#menu {
    position: fixed;
    top: 0;
    right: 50px;
    height: 40px;
    z-index: 70;
    padding: 0;
    margin: 0;
}
.section {
    text-align: center;
}
.slide .content {
    background-color: whitesmoke;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    color: #000000;
    line-height: 140%;
    overflow-y: auto;
}
.content a {
    text-decoration: none;
    color: blue;
    text-shadow: none;
}
.content a:hover {
    color: green;
    font-weight: bold;
}
.content ul {
    margin: 0;
}
.job .dim {
    opacity: 0.7;
    width: 145px;
    display: inline-block;
}
.content.summary {
    font-size: 20px;
}
.content .project {
    padding-left: 40px;
    width: 700px;
}
.project .thumbnail {
    margin: 5px 0 0 10px;
}
.school {
    clear: both;
}
.round-content {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: solid 1px gray;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}
.chart-section {
    width: 900px;
    border: solid 1px gray;
}
.chart-section circle {
    opacity: 1.0;;
}
.chart-section text {
    font-size: 12px !important;
}
.book-category h4 {
    margin-bottom: 0;
}
.book-category .thumbnail {
    margin: 20px 30px 0 0;
    height: 243px;
    width: 153px;
}
.tableCell {
    padding: 80px 52px 20px 52px;
}
.controlArrow {
    opacity: 0.2;
}
.controlArrow:hover {
    opacity: 1.0;
}
.round-corner {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
.campus {
    width: 300px;
    height: 180px;
    display: inline-block;
    float: left;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.uwb {
    background: url("../img/uwb.jpg");
}
.bcc {
    background: url("../img/bcc.jpg");
}
.school {
    height: 200px;
}
.school .description {
    display: inline-block;
    padding-left: 50px;
    width: 400px;
}
.circular {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.portrait {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: url("../img/portrait.jpg") no-repeat;
}
.left-of-portrait {
    width: 80%;
    float: left;
}
.portrait-column {
    width: 170px;
    float: left;
}
.cv,
.job,
.school,
.project,
.book-category,
.chart-section {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.content .job,
.content .project,
.content .book-category,
.content .chart-section,
.content .school {
    margin: 15px 30px 40px 30px;
    padding: 20px;
}
.content .description {
    margin-left: 30px;
    padding-bottom: 10px;
}
.thumbnail {
    border: solid 1px lightgray;
}
.thumbnail:hover,
.github:hover {
    -moz-box-shadow: 0 0 20px rgba(0, 128, 0, 1);
    -webkit-box-shadow: 0 0 20px rgba(0, 128, 0, 1);
    box-shadow: 0 0 20px rgba(0, 128, 0, 1);
    border-color: rgba(0, 128, 0, 0.5);
}
.github {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../img/github.png") no-repeat;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background-color: lightgray;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
}
.hidden {
    display: none;
}
.circle-block {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.click-me {
    cursor: pointer;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border: solid 2px #5c5c5c;
    font-size: 14px;
    
    
    
}
.click-me:hover {
    background-color: #6eb7bd;
}
.cv-buttons {
    float: right;
    display: inline-block;
}
.cv-buttons .button {
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    border: solid 2px gray;
    cursor: pointer;
    margin-bottom: 10px;
    color: gray;
}
.cv-buttons .button:hover {
    background-color: gray;
    color: #ffffff;
    font-weight: normal;
}
.cv-container {
    margin: 0 auto;
    width: 850px;
}
.cv {
    margin: 0;
    padding: 0;
    width: 850px;
    height: 1100px;
    background-color: whitesmoke;
    text-align: left;
    font-size: 16px;
    color: #000000;
    line-height: 140%;
    display: inline-block;
}
.cv .header {
    padding-top: 30px !important;
    width: 100%;
}
.cv .header .name {
    font-size: 35px;
    padding-right: 45px;
    display: inline-block;
}
.cv .header .contact {
    display: inline-block;
}
.cv .sites {
    padding-bottom: 20px;
}
.cv .site {
    line-height: 30px;
    display: inline-block;
    width: 423px;
}
.cv .spacer {
    display: inline-block;
    width: 30px;
}
.sites .portfolio {
    background-color: #6e6e6e;
    color: #ffffff;
    float: left;
}
.sites .projects {
    background-color: #d2d2d2;
    color: #000000;
    float: right;
}
.cv .block {
    padding: 20px 30px 20px 30px;
}
.cv .objective {
    clear: both;
}
.cv .main {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    clear: both;
    display: inline-block;
}
.cv .education,
.cv .learning-interests {
    padding-top: 10px;
}
.main h2 {
    margin-top: 0;
}
.main .left {
    border-right: solid 1px lightgray;
    width: 363px;
    padding-right: 30px;
}
.main .right {
    width: 366px;
    padding-left: 30px;
}
.left {
    display: inline-block;
    float: left;
}
.right {
    display: inline-block;
    float: right;
}
@media print {
    body > *:not(.active .content) {
        display: none;
    }
    .cv {
        background-color: white;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    body {
        background-color: white;
    }
    .cv {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
@page {
    padding: 0;
    margin: 0;
    width: 8.5in;
    height: 11in;
}