body {
    background: #363636 !important;
    /*background: #222222 !important;*/
    /*background: #55585d !important;*/
    /*background: #666666 !important;*/
}

.blue-background {
    background: #7cafc2 !important;
}

p {
    text-align: left;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: capitalize;
}

.reveal ol,
.reveal ul {
    display: block;
}

ol.indent,
ul.indent {
    margin: .3em 2em;
}

.reveal p.pad-top {
    padding-top: .2em;
}

.reveal p.pad-bottom,
.reveal li {
    padding-bottom: .2em;
}

.center {
    text-align: center;
}

.reveal {
    letter-spacing: 0.03em;
}

.reveal section {
    font-size: 0.9em;
}

.reveal section ul {
    line-height: 1.3em !important;
}

.reveal pre {
    box-shadow: none;
    margin-bottom: 0;
}

pre code {
    font-size: 18px;
    margin-top: 20px;
}

.reveal .note {
    display: block;
    padding: 20px 0;
}

.reveal .note,
.reveal .small {
    font-size: .7em;
}

.reveal table th {
    font-weight: bold;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
    font-size: 0.8em;
}